@layer base {

  .sidebar { 
    @apply fixed bottom-0 top-0 z-[60] h-screen w-72 -translate-x-full overflow-hidden bg-white shadow-lg transition-all duration-300 ease-in-out dark:bg-slate-800  lg:translate-x-0;
  }
  .sidebar-collapsed {
    @apply lg:w-20;
  
    .hovered {
      @apply w-72;
    }
  }
  
  .sidebar.expanded {
    @apply translate-x-0;
  }
  
  .sidebar-header {
    @apply flex h-16 w-full items-center gap-4 px-4;
  }
  
  .sidebar-logo-icon {
    @apply inline-block flex-shrink-0 fill-current text-primary;
  }
  
  .sidebar-logo-text {
    @apply flex flex-col;
  }
  
  .sidebar.collapsed .sidebar-logo-text {
    @apply hidden;
  }
  
  .sidebar.collapsed.hovered .sidebar-logo-text {
    @apply flex;
  }
  
  .sidebar-content {
    @apply mt-1 overflow-auto;
    height: calc(100vh - 4rem);
  
    > li {
      @apply px-[18px];
    }
  
    .simplebar-content {
      @apply space-y-0.5;
      > li {
        @apply px-[18px];
      }
    }
  }
  
  .sidebar-menu {
    @apply flex w-full items-center gap-2 p-1 text-sm transition-[colors] duration-150 hover:bg-primary/50 hover:text-primary dark:hover:bg-primary dark:hover:text-slate-200;
  
    .sidebar-menu-icon {
      @apply flex h-9 w-9 min-w-max flex-shrink-0 items-center justify-center text-slate-500 dark:text-slate-400;
  
      svg {
        @apply h-5 w-5;
      }
    }
  
    .sidebar-menu-arrow {
      @apply ml-auto mr-2 text-slate-600 transition-[transform] duration-150;
  
      svg {
        @apply h-4 w-4;
      }
    }
  
    .sidebar-menu-arrow.rotate {
      @apply rotate-90 transform;
    }
  
    &:hover .sidebar-menu-icon,
    &:hover .sidebar-menu-arrow {
      @apply text-primary dark:text-slate-200;
    }
  
    &.active {
      @apply bg-primary/50 text-primary dark:bg-slate-700 dark:text-slate-200;
    }
  
    &.active .sidebar-menu-icon {
      @apply bg-primary text-slate-200 dark:bg-primary;
    }
  
    &.active .sidebar-menu-arrow {
      @apply text-primary dark:text-slate-200;
    }
  
    .sidebar.collapsed .sidebar-menu-text {
      @apply hidden;
    }
  
    .sidebar.collapsed.hovered .sidebar-menu-text {
      @apply block;
    }
  
    .sidebar.collapsed .sidebar-menu-arrow {
      @apply hidden;
    }
  
    .sidebar.collapsed.hovered .sidebar-menu-arrow {
      @apply block;
    }
  }
  
  .sidebar-submenu {
    @apply mt-0.5 h-0 overflow-hidden transition-[height] duration-300 ease-in-out;
  
    .sidebar-submenu-item {
      @apply block py-2 pl-12 text-sm transition-[colors] duration-150 hover:bg-primary/50 hover:text-primary dark:hover:bg-primary dark:hover:text-slate-200;
    }
  
    .sidebar-submenu-item.active {
      @apply text-primary dark:hover:text-white;
    }
  }
  
  .sidebar-menu-header {
    @apply pb-2 pl-7 pt-4 text-xs uppercase tracking-widest text-slate-400;
  }
  
  .sidebar-toggle {
    @apply text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-300;
  }
  
  .sidebar.collapsed .sidebar-submenu {
    @apply hidden;
  }
  
  .sidebar.collapsed.hovered .sidebar-submenu {
    @apply block;
  }
  
  .sidebar.collapsed .sidebar-menu-header {
    @apply hidden;
  }
  
  .sidebar.collapsed.hovered .sidebar-menu-header {
    @apply block;
  }
  
  .sidebar-overlay {
    @apply invisible fixed inset-0 z-10 bg-black/10 transition-[opacity] duration-300 ease-in-out lg:hidden;
  
    .sidebar-overlay.active {
      @apply visible;
    }
  }
}