@layer utilities {
  .container-fluid {
    @apply w-full px-4 sm:px-6;
  }

  .zero-sr-only {
    @apply sr-only m-0 h-0 w-0;
  }

  // /* Chrome, Safari and Opera */
  // #chats::-webkit-scrollbar {
  //   display: none;
  // }
  // #chats {
  //   -ms-overflow-style: none; /* IE and Edge */
  //   scrollbar-width: none; /* Firefox */
  // }
}
